.form {
    width: 100%;
    max-width: 650px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(189, 211, 252);
    box-shadow: rgb(190, 164, 164) 5px 10px;
}

.form__button {
    width: 100%;
    background-color: rgb(221, 82, 82);
    display: block;
    padding: 10px;
    margin-top: 5px;
    font-size: 20px;
    border-radius: 5px;
}

.form__fieldset {
    margin: 0%;
    border-radius: 15px;
}

.form__legend {
    text-align: left;
    font-size: 25px;
}

.form__labelText {
    width: 100%;
    max-width: 230px;
    display: inline-block;
}

.form__field {
    border: 1px solid #ccc;
    max-width: 389px;
    border-radius: 10px;
    width: 100%;
}

.form__paragraph {
    text-align: center;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
}